.cm-s-mirrormark {
  font: 16px/1.7 Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  box-sizing: border-box;
  @apply relative h-auto m-auto z-0;
}
.cm-s-mirrormark .CodeMirror-scroll {
  height: auto !important;
  overflow: visible !important;
  box-sizing: border-box;
}
.cm-s-mirrormark.CodeMirror-fullscreen .CodeMirror-scroll {
  height: 100% !important;
  overflow: scroll !important;
}
.cm-s-mirrormark pre.CodeMirror-placeholder {
  color: #999;
}
.cm-s-mirrormark .cm-m-markdown {
  @apply text-gray-900;
}
.cm-s-mirrormark .cm-m-markdown.cm-header {
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  @apply font-bold;
}
.cm-s-mirrormark .cm-m-markdown.cm-header-1 {
  @apply text-3xl;
}
.cm-s-mirrormark .cm-m-markdown.cm-header-2 {
  @apply text-2xl;
}
.cm-s-mirrormark .cm-m-markdown.cm-header-3 {
  @apply text-xl;
}
.cm-s-mirrormark .cm-m-markdown.cm-variable-2 {
  @apply font-semibold;
}
.cm-s-mirrormark .cm-m-markdown.cm-quote {
  @apply text-lg font-semibold px-4 py-2 border-l-4;
}
.cm-s-mirrormark .cm-m-markdown.cm-url {
  @apply text-blue-500;
}
.cm-s-mirrormark .cm-m-markdown.cm-string {
  /* color: #888;
  background-color: rgba(128, 128, 128, 0.05);
  padding: 5px; */
}
.cm-s-mirrormark .cm-m-markdown.cm-tag,
.cm-s-mirrormark .cm-m-markdown.cm-link {
  color: #444;
}
.cm-s-mirrormark .cm-m-markdown.cm-comment {
  color: #a50;
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', monospace;
}
.cm-s-mirrormark .cm-m-markdown.cm-m-xml,
.cm-s-mirrormark .cm-m-markdown.cm-bracket {
  color: #170;
  font-family: inherit;
}
