.cm-s-mirrormark {
  font: 16px/1.7 Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  box-sizing: border-box;
  height: auto;
  margin: auto;
  position: relative;
  z-index: 0;
}
.cm-s-mirrormark .CodeMirror-scroll {
  height: auto !important;
  overflow: visible !important;
  padding: 30px 4%;
  box-sizing: border-box;
}
.cm-s-mirrormark.CodeMirror-fullscreen .CodeMirror-scroll {
  height: 100% !important;
  overflow: scroll !important;
}
.cm-s-mirrormark pre.CodeMirror-placeholder {
  color: #999;
}
.cm-s-mirrormark .cm-m-markdown {
  color: #000;
  font-family: sans-serif;
}
.cm-s-mirrormark .cm-m-markdown.cm-header {
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  font-weight: bold;
}
.cm-s-mirrormark .cm-m-markdown.cm-header-1 {
  font-size: 28px;
}
.cm-s-mirrormark .cm-m-markdown.cm-header-2 {
  font-size: 22px;
}
.cm-s-mirrormark .cm-m-markdown.cm-header-2 {
  font-size: 18px;
}
.cm-s-mirrormark .cm-m-markdown.cm-quote {
  color: #888;
  background-color: rgba(128, 128, 128, 0.05);
  padding: 5px;
}
.cm-s-mirrormark .cm-m-markdown.cm-quote,
.cm-s-mirrormark .cm-m-markdown.cm-string {
  color: #888;
}
.cm-s-mirrormark .cm-m-markdown.cm-tag,
.cm-s-mirrormark .cm-m-markdown.cm-link {
  color: #444;
}
.cm-s-mirrormark .cm-m-markdown.cm-comment {
  color: #a50;
  font-family: Menlo, Consolas, Monaco, 'Andale Mono', monospace;
}
.cm-s-mirrormark .cm-m-markdown.cm-m-xml,
.cm-s-mirrormark .cm-m-markdown.cm-bracket {
  color: #170;
  font-family: inherit;
}
